body {
  background-color: lightgrey;
  font-family: "Bahnschrift";
}

a {
  color: #b83963;
}

h1 {
  text-align: center;
  padding: 1%;
}

h3 {
  text-align: center;
  padding: 2% 15% 2% 15%
}

p {
  padding: 2% 20% 2% 20%;
}

img {
  padding: 1%;
  max-width: 100%;
  height: auto;
}

.navbar {
  background-color: #483e5e;
  display: block;
  text-align: center;
}

.navbar a {
  margin: 0 5% 0 5%;
  background-color: #d3d3d3;
  color: #212529;
}

.btn-submit {
  float: right;
  margin-top: 2%;
}

.form-group {
  padding: 0 20% 0 20%;
}
